<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div id="header">
    <div id="logo">
      X
    </div>
    <div id="title">
      PREFEITURA DA CIDADE DO RIO DE JANEIRO
    </div>
    <div id="stats">
      <div id="row1">
        a
      </div>
      <div id="row2">
        b
      </div>
      <div id="row3">
        d
      </div>
    </div>
  </div>
  <div id="prestador">
  </div>
  <div id="tomador">
  </div>
  <div id="discriminacao">
  </div>
  <div id="valor">
  </div>
  <div id="servico">
  </div>
  <div id="valores">
    <div id="deducoes"></div>
    <div id="descontonincond"></div>
    <div id="basedecalculo"></div>
    <div id="aliquota"></div>
    <div id="valordoiss"></div>
    <div id="creditogerado"></div>
  </div>
  <div id="info">
  </div>
</body>
</html>